body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .homepage {
    background-image: url('../Assets/Background.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
   
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li{
    margin: 0 15px;
    font-size: 25px;
  }
  .nav-links a:hover {
    color:rgb(98, 98, 238);
    box-shadow: inset;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .header {
    text-align: center;
  }
  
  .name {
    color: #4CAF50; /* Green color for the name */
  }
  
  .title {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .say-hello, .download-cv {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  .skill {
    font-weight: bold;
    color: #1eff00; /* Example color */
    transition: opacity 0.9s ease; /* Smooth transition */
  }
  .Homelogo{
    display: flex;
    flex-direction: row;
  }
  .HomeLogoImage{
    width:70px;
    height: 70px;
    border-radius: 50%;

  }
  .Homelogo h1 {
    color: aliceblue;
    padding:10px;
    margin: 5px 20px;
  }
  a
  {
    text-decoration: none;
  }
  @media (max-width: 768px) {
    .navbar{
      display: flex;
        flex-direction: column; /* Stack items vertically */
        padding: 5px; /* Adjust padding for mobile */
    }}